repos:
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      language_version: python3
      types:
        - python
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true